<section class="section section--reviews" id="reviewsSection">
  <div class="wrap" id="reviewsRoot">
    <div class="reviews-container">

      {% include "review/includes/_reviews_summary.html" %}

      <!-- Right side: Form and List -->
      <div>
        <div class="review-form-wrpper" id="reviewFormWrapper" style="scroll-margin-top: 120px;">
        {% include "review/includes/_review_form_empty_container.html" %}
        </div>
        <!-- Reviews List -->
        <div class="reviews-list-wrap">
          <div class="reviews-list__head">
            <h3 class="reviews-list__title">Відгуки покупців</h3>
          </div>

          <div id="reviewsList">
            {% include "review/includes/_review_list.html" %}
          </div>
    
          {% include "review/includes/_next_page_button.html" %}
          
        </div>
      </div>
    </div>
  </div>
</section>