<!-- 2. Phone -->
<div class="settings-card" id="cardPhone">
    <div class="settings-card__header">
        <div class="settings-card__icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07A19.5 19.5 0 013.07 11.5a19.79 19.79 0 01-3.07-8.67A2 2 0 012 .84h3a2 2 0 012 1.72c.127.96.361 1.903.7 2.81a2 2 0 01-.45 2.11L6.09 8.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45c.907.339 1.85.573 2.81.7A2 2 0 0122 16.92z"></path></svg>
        </div>
        <div>
            <h2 class="settings-card__title">Номер телефону</h2>
            <p class="settings-card__desc">Використовується для підтвердження замовлень та доставки</p>
        </div>
        <button
        class="btn btn--ghost settings-card__edit-btn"
        id="editPhoneBtn"
        aria-label="Редагувати телефон"
        hx-get="{% url "account:change_phone" %}?type=form"
        hx-target="#cardPhone"
        hx-swap="outerHTML"
        >
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="16" height="16"><path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
            Змінити
        </button>
    </div>

    <!-- View mode -->
    <div class="settings-card__view" id="phoneView" style="">
        <div class="settings-info-grid">
            <div class="settings-info-item">
                <span class="settings-info-item__label">Телефон</span>
                <span class="settings-info-item__value" id="displayPhone">{{ request.user.phone }}</span>
            </div>
        </div>
    </div>

</div>