.vscode
db_data/
venv/
sets/
Dockerfile
Dockerfile.prod
.env
.env.prod
docker-compose.yaml
docker-compose.prod.yaml

db.sqlite3
plan.txt

__pycache__/
*.py[cod]
*$py.class
.DS_Store

.git/
.gitignore

*.log
.cache/