<div class="review-card" style="animation-delay: 0.1s">
    <div class="review-card__top">
        <div class="review-card__left">
            <div class="review-avatar" style="background: linear-gradient(135deg, #8a6f5f, #6d5349); text-transform: uppercase;">{{ review.user.first_name|slice:":2" }}</div>
            <div class="review-card__user-info">
                <span class="review-card__name">{{ review.user.first_name }}</span>
            </div>
        </div>
        <div class="review-card__right">
            <div class="review-card__meta">
                <span class="review-card__stars stars">
                    {% for star in "12345" %}
                        <span class="star {% if forloop.counter <= review.rating %} is-on {% endif %} ">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M12 3l1.9 5.8L20 10l-6.1 1.2L12 17l-1.9-5.8L4 10l6.1-1.2z"></path>
                            </svg>
                        </span>
                    {% endfor %}
                </span>
                <span class="review-card__date">{{ review.updated|date:"j E Y"}}</span>
            </div>
        </div>
        
    </div>
    <div class="review-card__bottom">
        <p class="review-card__text">{{review.text }}</p>
    </div>
    {% if request.user.is_authenticated and review.user.id == request.user.id %}
        

        <div class="review-card__footer">
          <button
          class="review-btn-edit"
          aria-label="Редагувати відгук"
          hx-get="{% url "review:create" product_id=product.id %}?action=show"
          hx-target="#writeReviewBtn"
          hx-swap="outerHTML"
          >
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="15" height="15">
                <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"></path>
                <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"></path>
            </svg>
            Редагувати
          </button>
          <button class="review-btn-delete" data-open-delete-review="" data-url="{% url "review:delete" review_id=review.id %}?product={{review.product.id}}" aria-label="Видалити відгук">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="15" height="15">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6l-1 14a2 2 0 01-2 2H8a2 2 0 01-2-2L5 6"></path>
                <path d="M10 11v6"></path>
                <path d="M14 11v6"></path>
            </svg>
            Видалити
          </button>
        </div>


    {% endif %}
   
</div>