<button
class="btn btn--ghost"
id="writeReviewBtn"
style="width: 100%;"
hx-get="{% url "review:create" product_id=product_id %}?action=hide"
hx-target="#writeReviewBtn"
hx-swap="outerHTML"
>
    <svg viewBox="0 0 24 24" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 6px;">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
    Скасувати
</button>

{% include "review/includes/_review_form_container.html" %}

