{% load solo_tags %}
{% load site_config %}
{% get_solo 'main.SiteConfig' as site_config %} 
 <!-- Footer -->
<footer class="footer">
    <div class="wrap">
        <div class="footer__grid">
            <div class="footer__about">
                <a href="{% url "main:index" %}" class="logo"><img src="{{site_config.logo.url}}" alt="logo"> </a>
                <p>
                    {{ site_config.slogan }}
                </p>
            </div>
            <div>
                <h4>Магазин</h4>
                <ul class="footer__links">
                    <li><a href="/catalog.html">Каталог</a></li>
                    <li><a href="/catalog.html?cat=serum">Сироватки</a></li>
                    <li><a href="/catalog.html?cat=sets">Набори</a></li>
                    <li><button class="footer__cat" data-open-categories=""
                            style="color: inherit; font: inherit">Категорії</button></li>
                </ul>
            </div>
            <div>
                <h4>Допомога</h4>
                <ul class="footer__links">
                    <li><a href="#">Доставка та оплата</a></li>
                    <li><a href="#">Повернення</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Блог про догляд</a></li>
                </ul>
            </div>
            <div>
                <h4>Контакти</h4>
                <ul class="footer__links">
                    {% get_phones_in_footer as phones %}
                    {% if phones %}
                        {% for phone in phones %}
                            <li><a href="tel:{{ phone.clean_number }}">{{ phone }}</a></li>
                        {% endfor %}
                    {% endif %}

                    {% get_emails_in_footer as emails %}
                    {% if emails %}
                        {% for email in emails %}
                            <li><a href="mailto:{{ email }}">{{ email }}</a></li>
                        {% endfor %}
                    {% endif %}
                    
                    {% get_socials_in_footer as socials %}
                    {% if socials %}
                        {% for social in socials %}
                            <li><a href="{{ social.url }}">{{ social.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <span>© 2026 ROBEAUTY. Усі права захищені.</span>
            <span>Зроблено з турботою про вашу шкіру</span>
        </div>
    </div>
</footer>