<!-- Header -->
<header class="header">
    <div class="wrap header__inner">
        <button class="icon-btn burger" data-open-categories="" aria-label="Меню категорій" data-icon="menu"><svg
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round">
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg></button>
        {% if site_config.logo %}
        <a href="{% url "main:index" %}" class="logo"><img src="{{site_config.logo.url}}" alt="logo"> </a>
        {% else %}
        <a href="{% url "main:index" %}" class="logo">Logo </a>
        {% endif %}
        <nav class="nav">
            <button class="nav__link" data-open-categories="">Категорії</button>
            <a class="nav__link" href="{% url "goods:catalog" %}">Каталог</a>

            {% for category in all_categories %}
                {% if category.visible %}
                    <a class="nav__link" href="{% url "goods:catalog" %}?cat={{ category.slug }}">{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </nav>
        {% include "includes/_header_actions.html" %}
    </div>
</header>