<!-- Pagination -->
<div class="pagination" id="pagination">
  <button
    class="pagination__btn"
    data-page="0"
    disabled=""
    aria-label="Попередня сторінка"
  >
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.8"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </button>

  <button class="pagination__btn is-active" data-page="1">1</button>

  <button class="pagination__btn" data-page="2">2</button>
  <span class="pagination__dots">...</span>
  <button class="pagination__btn" data-page="6">6</button>

  <button class="pagination__btn" data-page="2" aria-label="Наступна сторінка">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.8"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </button>
</div>
