
<!-- Product card -->
<article class="card" id="product-{{ product.id }}" >
    <a class="card__media" href="{% url "goods:product" slug=product.slug %}">
        <div class="card__tags">
            {% if product.is_new %}<span class="card__tag ">Новинка</span>{% endif %}
            {% if product.is_bestseller %}<span class="card__tag ">Хіт</span>{% endif %}
            {% if product.is_discount %}<span class="card__tag card__tag--sale">Акція</span>{% endif %}
        </div>
        {% with image=product.fotos.first %}
            {% if image %}
                <img src="{{ image.image.url }}" alt="{{ product.title }}">
            {% endif %}
        {% endwith %}
        
        <button
        class="card__wishlist {% if product.is_favorite %}is-wishlisted{% endif %}"
        aria-label="{% if product.is_favorite %}Видалити з обраного{% else %}Додати в обране{% endif %}"
        aria-pressed="{% if product.is_favorite %}true{% else %}false{% endif %}"
        id="product-wishlist-btn-{{product.id}}"
        hx-post="{% url "wishlist:toggle" product.id %}"
        hx-target="#product-{{ product.id }}"
        hx-swap="outerHTML"
        >
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78L12 21.23l8.84-8.84a5.5 5.5 0 0 0 0-7.78z"></path>
          </svg>
        </button>
        
    </a>
    <div class="card__body">
        <span class="card__cat">{{ product.cateogry }}</span>
        <a class="card__name" href="{% url "goods:product" slug=product.slug %}">{{ product.title|truncatechars:50 }}</a>
        {% if product.is_discount %}
            <div class="card__price"><b>{{ product.get_price_with_discount|floatformat:2 }} ₴</b><s>{{ product.price|floatformat:2 }} ₴</s></div>
        {% else %}
            <div class="card__price"><b>{{ product.price|floatformat:2 }} ₴</b></div>
        {% endif %}
        <div class="card__actions">
            <form
                hx-post="{% url 'cart:cart_add' %}" 
                hx-target="#cartItems" 
                hx-swap="innerHTML"
            >
                {% comment %} {% csrf_token %} {% endcomment %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="override" value="false">
                <button class="btn btn--primary card__add card__btn">До кошику</button>
            </form>
            <a class="btn btn--ghost card__btn" href="{% url "goods:product" slug=product.slug %}">Детальніше</a>
        </div>
    </div>
</article>