{% extends "base.html" %}
{% load static %}
{% load uk_pluralize %}

{% block title %}
 - {% if not active_category %} Всі товари {% else %} {{ active_category.name }} {% endif %}
{% endblock title %}

{% block content %}

{% include "includes/_breadcrumbs.html" %}

<!-- Catalog -->
<section class="section section--catalog">
    <div class="wrap">
        <div class="catalog-head">
            <div>
                <h1 class="section-title" id="catalogTitle">{% if not active_category %} Всі товари {% else %} {{ active_category.name }} {% endif %}</h1>
                {% with p_count=active_category.products.count %}
                    {% if active_category %}
                        <p id="catalogCount">{{ p_count }} {{ p_count|uk_pluralize }}</p>
                    {% else %}
                        <p id="catalogCount">{{ total_products }} {{ total_products|uk_pluralize }}</p>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="catalog-tools">
                <button class="btn btn--ghost" data-open-categories="">Категорії</button>
                <label class="select">
                    <span>Сортувати:</span>
                    <select id="sortSelect">
                        <option value="popular">За популярністю</option>
                        <option value="price-asc">Спочатку дешевші</option>
                        <option value="price-desc">Спочатку дорожчі</option>
                        <option value="name">За назвою</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="catalog-layout">
            <aside class="filters">
                <h4>Категорії</h4>
                <ul class="filters__list" id="filterList">
                    <li>
                        <a class="filter-btn {% if not active_category %}is-active{% endif %}" href="{% url "goods:catalog" %}">
                            <span>Всі товари</span><small>{{ total_products }}</small>
                        </a>
                    </li>
                    {% for category in category_with_count_products %}
                        <li>
                            <a class="filter-btn {% if active_category.slug == category.slug %}is-active{% endif %}"
                            href="{% url "goods:catalog" %}?cat={{ category.slug }}"
                            >
                                <span>{{ category.name }}</span><small>{{ category.product_count }}</small>
                            </a>
                        </li>
                    {% endfor %}
                   
                   
                </ul>
            </aside>
            <div>
                <div class="product-grid product-grid--catalog" id="catalogGrid">
                    {% for product in products %}
                    <article class="card">
                        <a class="card__media" href="/product.html?id=argireline-2">
                            <div class="card__tags">
                                <span class="card__tag ">Хіт</span>
                                <span class="card__tag card__tag--sale">Акція</span>
                                <span class="card__tag ">Новинка</span>
                            </div>
                            
                            {% with image=product.fotos.first %}
                                {% if image %}

                                    <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                {% endif %}
                            {% endwith %}
                        </a>
                        <div class="card__body">
                            <span class="card__cat">{{ product.cateogry }}</span>
                            <a class="card__name" href="/product.html?id=argireline-2">{{ product.title|truncatechars:50 }}</a>
                            {% if product.is_discount %}
                                <div class="card__price"><b>{{ product.get_price_with_discount|floatformat:2 }} ₴</b><s>{{ product.price|floatformat:2 }} ₴</s></div>
                            {% else %}
                                <div class="card__price"><b>{{ product.price|floatformat:2 }} ₴</b></div>
                            {% endif %}
                            
                            
                            <div class="card__actions">
                                <button class="btn btn--primary card__add card__btn" data-add="argireline-2">До кошику</button>
                                <a class="btn btn--ghost card__btn" href="/product.html?id=argireline-2">Детальніше</a>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                </div>
                <div class="catalog-empty" id="catalogEmpty" style="display:none">
                    <p>За цією категорією товарів поки немає.</p>
                    <a class="btn btn--primary" href="/catalog.html">Показати всі товари</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static "js/main-catalog.js" %} "></script>
{% endblock scripts %}