{% extends "base.html" %}
{% load static %}

{% block title %}
 - Оформлення замовлення
{% endblock title %}

{% block content %}
{% include "includes/_breadcrumbs.html" %}
<!-- Page Head -->
<div class="page-head">
  <div class="wrap">
    <h1>Оформлення замовлення</h1>
  </div>
</div>

<!-- Checkout Content -->
<section class="section">
  <div class="wrap">
    <div class="checkout" id="checkoutRoot" style="display: block;">
      <div class="checkout__grid">
        <!-- Form Column -->
        <div class="checkout__main" id="checkoutMain" 
        hx-on::after-request="this.scrollIntoView({ behavior: 'smooth' });"
        >
          {% include "order/includes/_form_create.html" %}
        </div>

        <!-- Summary Column -->
        <aside class="checkout__side">
          <div class="checkout-card">
            <h3 class="checkout-card__title">Ваше замовлення</h3>
            <div class="order-items" id="orderItems">
              {% include "order/includes/_order_items.html" %}
            </div>
              {% include "order/includes/_order_summary.html" %}
          </div

          {% comment %} Checkout Content
            <div class="checkout-info">
              <div class="feature">
                <span data-icon="truck"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></span>
                <div>
                  <b>Безкоштовна доставка</b>
                  <span>Для замовлень від 1000 ₴</span>
                </div>
              </div>
            </div>
          {% endcomment %}
        </aside>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}
    <script src="{% static "js/imask.js" %}"></script>
    <script type="module" src="{% static "js/main-checkout.js" %} "></script>
    
{% endblock scripts %}