{% extends "base.html" %}
{% load static %}

{% block seo_robots %}
    <meta name="robots" content="noindex, nofollow, noarchive">
{% endblock %}

{% block title %}
 - Мої замовлення
{% endblock title %}

{% block content %}


<!-- Page Head -->
<div class="page-head">
  <div class="wrap">
    <h1>Мої замовлення</h1>
  </div>
</div>

<section class="section orders-section">
    <div class="wrap">

        <!-- Authorized Content State -->
        <div class="orders-layout" id="authorizedState">

        <!-- Main content area -->
        <div class="orders-content">
            <div class="orders-head-wrapper" id="orders-head-wrapper">
                {% include "account/includes/_orders_head.html" %}
            </div>

            <!-- Orders List Container -->
             <div class="orders-container" id="ordersContainer">
                {% include "account/includes/_orders_content.html" %}
             </div>

        </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static "js/account-orders.js" %} "></script>
    
{% endblock scripts %}