{% extends "base.html" %}
{% load static %}

{% block seo_robots %}
    <meta name="robots" content="noindex, nofollow, noarchive">
{% endblock %}

{% block title %}
 - Відновлення параля
{% endblock title %}

{% block content %}

<!-- Page Head -->
<div class="page-head">
  <div class="wrap">
    <h1>Відновлення пароля</h1>
  </div>
</div>

<!-- Password reset confirm Content -->
<section class="section">
  <div class="wrap">
    <div class="password-confirm" style="display: block;">
      
        <div class="password-confirm__main" id="passwordResetConfirm">
          {% if validlink %}
            {% include "account/includes/set_password_form.html" %}
          {% else %}
            <h2 style="text-align:center;margin-bottom: 20px">Посилання недійсне або застаріло</h2>
            <p style="text-align:center">
              Цей токен безпеки більше не працює. Якщо ви вже оновили пароль, спробуйте увійти за допомогою нових даних.
            </p>
          {% endif %}
        </div>
      
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static "js/main-password-reset-confirm.js" %} "></script>
    
{% endblock scripts %}