{% load solo_tags %}
{% get_solo 'main.SiteConfig' as site_config %}

<html lang="uk" class="bg-background">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5f6d49">
    <meta name="description" content="{{ site_config.short_description }}">

    {% if site_config and site_config.favicon %}
        <link rel="icon" type="image/x-icon" href="{{ site_config.favicon.url }}">
    {% endif %}
    
    <title>{{ site_config.title }} {% block title %} {% if site_config.slogan_top %} — {{ site_config.slogan_top }} {% endif %} {% endblock title %} </title>

    {% include "includes/_styles.html" %}
</head>

<body>
    {% include "includes/_cart_modal.html" %}
    {% include "includes/_categories_modal.html" %}
    {% include "includes/_search_modal.html" %}
    {% include "includes/_header.html" %}

   {% block content %}
   {% endblock content %}

    {% include "includes/_footer.html" %}
    <script type="module" src="{% static "js/htmx.min.js" %} "></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>