{% load uk_pluralize %}
{% include "goods/includes/products.html" %}

<div class="filters__body" id="filtersContainer" hx-swap-oob="true">
    <form
    hx-get="{% url 'goods:catalog' %}" 
    hx-trigger="change delay:500ms" 
    hx-target="#products" 
    hx-swap="innerHTML"
    hx-push-url="true"
    hx-include="#sort-form"
    id="filter-form"
    hx-indicator="#productsSpinner"
    hx-on:after-request="document.getElementById('products').scrollIntoView({ behavior: 'smooth'})"
    >
      {% include "goods/includes/_filters.html" %}
    </form>
</div>

<div class="filters-drawer__body" id="mobileFiltersContainer" hx-swap-oob="true">
    <form
    hx-get="{% url 'goods:catalog' %}" 
    hx-trigger="change delay:500ms" 
    hx-target="#products" 
    hx-swap="innerHTML"
    hx-push-url="true"
    id="mobile-filter-form"
    hx-indicator="#productsSpinner"
    >
        {% include "goods/includes/_filters.html" %}
    </form>
</div>


<p id="catalogCount" hx-swap-oob="true">
    {{ paginator.count }} {{ paginator.count|uk_pluralize }}
</p>