{% load products %}

<!-- Pagination -->
{% if is_paginated %}
    <div
    class="pagination"
    id="pagination"
    hx-target="#products" 
    hx-swap="innerHTML"
    hx-push-url="true"
    hx-include="#filter-form, #sort-form"
    hx-indicator="#productsSpinner"
    >
        <a
            class="pagination__btn {% if not page_obj.has_previous %}disabled{% endif %}"

            href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% endif %}"
            {% if page_obj.has_previous %}
                hx-get="?page={{ page_obj.previous_page_number }}"
            {% endif %}
            aria-label="Попередня сторінка"
        >
            <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </a>

        {% for page_num in elided_page_range %}
            {% if page_num == page_obj.paginator.ELLIPSIS %}
                <span class="pagination__dots">...</span>
            {% elif page_num == page_obj.number %}
                <a class="pagination__btn is-active" >{{page_num}}</a>
            {% else %}
                <a
                class="pagination__btn"
                href="?{% change_params page=page_num %}"
                hx-get="?page={{ page_num }}"
                >
                {{ page_num }}</a>
            {% endif %}
        {% endfor %}
        <a 
        class="pagination__btn {% if not page_obj.has_next %}disabled{% endif %}" aria-label="Наступна сторінка"
        href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% endif %}"
        {% if page_obj.has_next %}
            hx-get="?page={{ page_obj.next_page_number }}"
        {% endif %}
        >
            <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </a>
    </div>
{% endif %}
